<div class="container">
    <mat-card>
        <h1> Mapa szpitali psychiatrycznych w Polsce</h1>
        <div class="map">
            <google-map
            height="1000px"
            width="80%"
            [zoom]="zoom"
            [center]="center"
            [options]="options"
            >
            <map-marker
            *ngFor="let marker of markers"
            [position]="marker.position"
            [label]="marker.label"
            [title]="marker.title"
            [options]="marker.options"
          >
          </map-marker></google-map>
        </div>
        
    </mat-card>
   
</div>