<div class="pasek"> 
    <img class="ikona" src="../assets/ikona-psychiatry-prosty-symbol-psychiatrii-elementu-linii-dla-szablonów-projektowania-stron-internetowych-i-infografiki-172442593.png">
    <div>
      <h1 class="white">Witamy na stronie psychebase.pl</h1>
      <h6 class="white"> Portal ten pomoże ci w wyborze najlepszego szpitala psychiatrycznego dla ciebie lub twojego bliskiego. <br />Możesz również ocenić swój pobyt w dowolnej placówce. 
        Znajdziesz tutaj wszystkie szpitale psychiatryczne na NFZ.</h6>
    </div>
</div>

<div class="tlo">
  <div class="container">
    <div [routerLink]="['/hospitals']"  class="kafelek">
      <img  src="./../../../assets/lekarz.png"/>
      <h6> Wszystkie Szpitale </h6>
    </div>
    <div [routerLink]="['/hospitals']" class="kafelek">
      <img src="../../../assets/szpital.png" />
      <h6> Szpitale w twojej okolicy</h6>
    </div>
  </div>
</div>