Dodawanie oddziału dla szpitala: {{hospital.name}}

<div class="submit-form">
   <div class="form-group">
        <label for="title">Nazwa szpitala:</label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
          [(ngModel)]="hospital.name"
          name="title"
        />
      </div>
  
      <div class="form-group">
        <label for="description">Nazwa oddziału:</label>
        <input
          class="form-control"
          id="description"
          required
          [(ngModel)]="temporaryDepartament.name"
          name="description"
        />
      </div>
      <div class="form-group">
        <label for="description">Typ:</label>
        <input
          class="form-control"
          id="description"
          required
          [(ngModel)]="temporaryDepartament.type"
          name="description"
        />
      </div>
</div>
<button (click)="saveDepartament()" class="btn btn-success">Submit</button>
