.search-bar-container {
    margin: 20px auto;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.form-group {
    margin: 0 auto;
    width: 50%;
    position: relative;
}



.mat-mdc-form-field  {
   width: 100%;
}

button {
    background-color: white;
}

h3 {
    text-align: center;
    color: white;
}
.psychebase-button {
    background-color: #007B4F;
    color: white;
    height: 70px;
    width: 150px;
    
}


