
<div class="hospital-container"> 
    <mat-card class="card">
        <mat-card-header style="height: 1100px;">
            <mat-card-title-group>
              <div class="hospital-header">
              <div class="hospital-title">
                <div class="hospital-image-container">
                  <div class="hospital-image"></div>
                </div>
                
                <div class="title">{{hospital.name}}</div>  
              </div>
              <div class="subtitles">
                <div class="subtitle"> Typ szpitala: {{hospital.type}} </div>
                <div class="subtitle"> Ilość oddziałów: {{hospital.departamentQuantity}} </div>
              </div>

              <div class="info">
                <div class="contact">
                  <h3> Kontakt:</h3>
                  <p>Telefon: {{hospital.phone}}</p>
                      <a href="mailto:{{hospital.email}}">Email: {{hospital.email}}</a>
                      <p>Strona internetowa: <a target="_blank" href="{{hospital.page}}">{{hospital.page}} </a></p>
                </div>
                <div class="address">
                  <h3>Adres:</h3>
                  <p>{{hospital.address}}, {{hospital.city}}</p>
                  <p>{{hospital.voivodeship}}</p>
                </div>
              </div>
              <p class="description"><b>Opis szpitala: </b> {{hospital.description}}</p>
              <p class="edit" [routerLink]="['/edit', hospital.name]" *ngIf="loggedIn"><b>Edytuj szpital </b></p>

            </div>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
              <div class="rating">
                <h2>RATING SZPITALA</h2>
                <app-hosptial-rating (addedRating)="putRating($event)" [hospitalRating] = 'hospital' ></app-hosptial-rating>                
                <div>
                   
                <h2 *ngIf="departaments.length !== 0"> DOSTĘPNE ODDZIAŁY </h2>
                  <mat-card class="card" *ngFor="let departament of departaments">
                    <mat-card-header>
                      <mat-card-title>{{departament.name}}</mat-card-title>
                      <mat-card-subtitle>{{departament.type}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                    </mat-card-content>
                  </mat-card>
                </div>
              </div>

              <div class="hospitals-comments">
                <h2> OPINIE O SZPITALU</h2>
                <div> <app-comments></app-comments></div>
              </div>
        </mat-card-content>
    </mat-card>
</div>

