
<div class="hospital-container"> 
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title-group>
              <div class="hospital-header">
                <div class="title">{{hospital.name}}</div>
                <div class="subtitle"> Typ szpitala: {{hospital.type}} </div>
                <div class="subtitle"> Ilość oddziałów: {{hospital.departamentQuantity}} </div>
              
              <mat-grid-list cols="2" rowHeight="5:1">
                <mat-grid-tile>
                    <div><b>Kontakt:</b></div>
                    <div>telefon:  {{hospital.phone}}</div>
                    <div>Email: {{hospital.email}}</div>
                    <div>Strona internetowa: <a href="{{hospital.page}}">{{hospital.page}} </a></div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div><b>Adres:</b></div>
                    <div>{{hospital.address}}, {{hospital.city}}</div>
                    <div>{{hospital.voivodeship}}</div>
                </mat-grid-tile>
              </mat-grid-list>
            </div>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>

          <p class="description">Opis szpitala: {{hospital.description}}</p>
              <div>
                <app-hosptial-rating (addedRating)="putRating($event)" [hospitalRating] = 'hospital' ></app-hosptial-rating>                
                <div>
                   
                    <h3>Dostępne oddziały: </h3>
                      <mat-card class="card" *ngFor="let departament of departaments">
                        <mat-card-header>
                          <mat-card-title>{{departament.name}}</mat-card-title>
                          <mat-card-subtitle>{{departament.type}}</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <app-departamet-rating></app-departamet-rating>
                        </mat-card-content>
                      </mat-card>
                </div>
              </div>

              <div class="hospitals-comments">
                <h3> Opinie o szpitalu:</h3>
                <div> <app-comments></app-comments></div>
              </div>
        </mat-card-content>
    </mat-card>
</div>

