<div class="stripe"> 
    <img class="icon" src="../assets/ikona-psychiatry-prosty-symbol-psychiatrii-elementu-linii-dla-szablonów-projektowania-stron-internetowych-i-infografiki-172442593.png">
    <div class="right">
      <h1 class="white">Witamy na stronie psychebase.pl</h1>
      <h3 class="white"> Portal ten pomoże ci w wyborze najlepszego szpitala psychiatrycznego dla ciebie lub twojego bliskiego. <br />Możesz również ocenić swój pobyt w dowolnej placówce. 
        Znajdziesz tutaj wszystkie szpitale psychiatryczne na NFZ.</h3>
    </div>
</div>

<div class="background">
  <div class="container">
    <div [routerLink]="['/szpitale']"  class="tile">
      <img  src="./../../../assets/lekarz.png"/>
      <h3> Wszystkie Szpitale </h3>
    </div>
    <div [routerLink]="['/wojewodztwa']" class="tile">
      <img src="../../../assets/szpital.png" />
      <h3> Szpitale wg województw</h3>
    </div>
    <div [routerLink]="['/mapa']" class="tile-pin tile">
     <img src="../../../../assets/pin.png">
      <h3> Szpitale w twojej okolicy</h3>
    </div>
  </div>
</div>