<div class="submit-form">
  <div>
    <div class="form-group">
      <label for="title">Adres:</label>
      <input
        type="text"
        class="form-control"
        id="title"
        required
        [(ngModel)]="hospital.address"
        name="title"
      />
    </div>

    <div class="form-group">
      <label for="description">Ilośc oddziałów:</label>
      <input
        class="form-control"
        id="description"
        required
        [(ngModel)]="hospital.departamentQuantity"
        name="description"
      />
    </div>
    <div class="form-group">
      <label for="description">Telefon::</label>
      <input
        class="form-control"
        id="description"
        required
        [(ngModel)]="hospital.phone"
        name="description"
      />
    </div>

    <div class="form-group">
      <label for="description">Opis</label>
      <input
        class="form-control"
        id="description"
        required
        [(ngModel)]="hospital.description"
        name="description"
      />
    </div>

    <div class="form-group">
      <label for="description">Dyrektor</label>
      <input
        class="form-control"
        id="description"
        required
        [(ngModel)]="hospital.director"
        name="description"
      />
    </div>

    <div class="form-group">
      <label for="description">email</label>
      <input
        class="form-control"
        id="description"
        required
        [(ngModel)]="hospital.email"
        name="description"
      />
    </div>

    <div class="form-group">
      <label for="description">logo</label>
      <input
        class="form-control"
        id="description"
        required
        [(ngModel)]="hospital.logo"
        name="description"
      />
    </div>

    <div class="form-group">
      <label for="description">Nazwa</label>
      <input
        class="form-control"
        id="description"
        required
        [(ngModel)]="hospital.name"
        name="description"
      />
    </div>

    <div class="form-group">
      <label for="description">Strona internetowa</label>
      <input
        class="form-control"
        id="description"
        required
        [(ngModel)]="hospital.page"
        name="description"
      />
    </div>
    <div class="form-group">
      <label for="description">Typ:</label>
      <input
        class="form-control"
        id="description"
        required
        [(ngModel)]="hospital.type"
        name="description"
      />
    </div>


    <button (click)="saveHospital()" class="btn btn-success">Submit</button>
  </div>
