<div class="comment-container">
  <div class="lack-of-comments" *ngIf="comments.length === 0">
  Tutaj jeszcze nie ma komentarzy. Dodaj swój komenatrz jako pierwszy!</div>
   
    <div class="comment-section" *ngIf="comments.length >= 1" >
        <mat-card class="card" *ngFor="let comment of comments">
            <mat-card-header>
              <mat-card-title style="padding: 10px; font-weight: bold;">{{comment.title}}</mat-card-title>
              <mat-card-subtitle  style="padding: 10px;">Dodane przez: {{comment.nick}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content  style="padding: 10px;">
                {{comment.comment}}
            </mat-card-content>
          </mat-card>
    </div>
   
    <div class="add-comment">
      <h2> DODAJ KOMENTARZ</h2>
      <form class="form">
          <mat-form-field class="full-width">
            <mat-label>Tytuł</mat-label>
            <input matInput maxlength="250" [(ngModel)]="comment.title" name="title" >
          </mat-form-field>

          <mat-form-field class="full-width">
              <mat-label>Nick</mat-label>
              <input matInput maxlength="50" [(ngModel)]="comment.nick" name="nick">

            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Oddział, na którym przebywałeś/przebywałaś/przebywałoś</mat-label>
              <textarea type="text" matInput maxlength="1000" [(ngModel)]="comment.departament" name="comment"> </textarea>
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Treść</mat-label>
              <textarea type="text" matInput maxlength="1000" [(ngModel)]="comment.comment" name="comment"> </textarea>

            </mat-form-field>
          <div class="psychebase-button" mat-button mat-raised-button (click)="addComment()" color="success">Dodaj</div>

        </form>
  </div>
</div>

