
.logo {
  height: 80px;
  width: 80px;
  margin-top: 5px;

}

.toolbar {
  height: 88px;
  background-color: white;
  flex: 1 1 auto;
  text-align: center;
  display: flex;
  justify-content: center;;
}

a {
  color: #007B4F;
  margin-left: 15px;
  text-decoration: none;
}
