
.logo {
  height: 110px;
  width: 110px;
  margin-top: 5px;

}

.toolbar {
  height: 120px;
  background-color: white;
  flex: 1 1 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  -webkit-box-shadow: 0px 11px 24px 0px rgba(66, 68, 90, 1);
-moz-box-shadow: 0px 11px 24px 0px rgba(66, 68, 90, 1);
box-shadow: 0px 11px 24px 0px rgba(66, 68, 90, 1);

}

a {
  color: #007B4F;
  margin-left: 15px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}
