<div class="container">
    <h1>Najlepsze szpitale według rankingu:</h1>
    <ul>
        <li *ngFor="let hospital of bestHospitals">
            <mat-card>
                <mat-card-content>
                    <div class="card-content"> <p style="padding-left: 20px;">{{hospital.name}}</p></div>
                    <div class="card-content center"> <p>Ocena: <b>{{hospital.rating}} /5</b> </p>
                    </div>
                    <div class="card-content center">
                        <div class="psychebase-button" style="padding: 20px;" [routerLink]="['/show', hospital.name]">Odwiedź i oceń</div>
                    </div>
                </mat-card-content>
            </mat-card>
        </li>
    </ul>
</div>
