.container {
    margin: 50px auto;
   
}

h1{
    text-align: center;
    color:#007B4F;
    font-size: 26px;
    margin-bottom: 40px;
}
li {
    list-style-type: none;
}

.mat-mdc-card  {
    margin: 20px auto;
    width: 80%;
}
.mat-mdc-card-content {
    display: flex;
    flex-direction: row;
    height: 200px;
    align-items: center;;
    width: 80%;
}

.card-content {
    width: 33%;
    font-size: 20px;
}

.center {
    padding: 50px;

}

.center p {
    text-align: center;
    font-size: 20px;
}

.center button {
    padding: 20px;  
}