ul {
    list-style-type:none;
}

ul li {
    padding-top: 20px;
    height: 100px;
}

ul li div {
    display: flex;
    flex-direction: row;
}
ul li div p {
    width: 20%;
    font-weight:bold;
    font-size: 20px;
    
}
.rating {
    display: flex;
    flex-direction: column;
    align-items: center;
}