<div class="container">
    <mat-card class="card">
        <mat-card-header>
          <mat-card-title class=""><b>Jak przygotować się do szpitala</b></mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <h4><b>1.Zrób rozeznanie na stronie szpitala, czego potrzebujesz</b></h4>
            <p>Na naszej stronie internetowej podane są linki do konkretnych szpitali psychiatrycznych, które was interesują. Zazwyczaj są tam dostępne działy o tym, jak się przygotować.</p>
            <p>Najczęściej pojawiają się takie rzeczy jak: szlafrok, ręcznik, piżamy (najlepiej 4 na zmianę), kapcie, plastickowy kubek (zabronione sa przedmioty szklane i ostre), ładowarkę (dostępną tylko w dyżurce pielęgniarek). Z ładowarki z reguły można korzystać na noc.</p>
            <p>Warto też przygotować kosmetyki, szczotkę do włosów. Nie zabieramy maszynek do golenia - chyba że istnieje możliwość użycia ich pod opieką pielęgniarki. Dla kobiet dobrze sprawdzą sie plastry do depilacji.</p>
            <p>W większości szpitali można posiadac telefon komórkowy lub smarfona, jednak w niektórych szpitalach zaleca się mieć telefon bez kamerki. Czasami można wziąć laptopa lub tablet. </p>
            <p>Dla moli książkowych polecamy również dużo książek.</p>
            <p>Nie zabieramy rónież rzeczy z paskami, długich kabli, np. pasek od szlafroka, pasek do spodni, sznurówki.</p>
            <h4><b>2.Przygotuj listę dokuemntów medycznych</b></h4>
            <p>Twoje wypisy z poprzednich szpitali, interwencje na izbie przyjęć, dokuemntacja psychiatry, wyniki badań psychiatrycznych - są niezbędne do poprawnej analizy. Warto też zabrać dokuemnty medyczne niezwiązane z leczeniem psychiatrycznym.</p>
            <h4><b>3.Zabierz leki, które przyjmujesz, a które nie są typowo psychotropowe</b></h4>
            <p>Niektóre szpitale zalecają wzięcie leków, które bierzemy np. na serce, zakrzepicę, ciśnienie krwi itp. gdyz moga nie posiadac zapasów tych leków.</p>
            <h4><b>4.Nie zabieraj rzeeczy, które moga się znaleźć w depozycie (chyba ze będa obowiązkowe po wyjściu ze szpitala)</b></h4>
            <p>Rzeczy typu : dokumenty, klucze do mieszkania, kable, biżuteria, paski itp moga być przechowane w depozycie szpitala, jednak przezorny zawsze ubezpieczony ;)</p>
        </mat-card-content>
    </mat-card>


</div>