<div class="container">
    <mat-card class="card">
        <mat-card-header>
          <mat-card-title class=""><b>O stronie</b></mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p> Strona została założona z myślą o stanie polskiej psychiatrii.</p>
            <p>  Jej autorka jest Emma G. - programistka, testerka, a także wolonatriuszka fundacji Beztroska Psychoterpaia i Telefon Pogadania.</p>
            <p> Stan polskich szpitali psychiatrycznych zarówno pod względem budynków, warunków sanitarnych jak i jakości leczenia, nie jest najlepszy. </p>
            <p> Dlatego z myślą o tym, by poprawić warunki leczenia w szpitalach, chcemy by pojawiło się o szpitalach jak najwięcej opinii, co pomoże wam wybrac najlepszy szpital w okolicy dla siebie. </p>
            <p> Strona ta jest darmowa, fundowana z prywatnej kieszeni charytatywnie.</p>
            <p> Mogą tu państwo całkowicie zachować anonimowość, swobodę wypowiedzi. Zapewniamy bezpieczeństwo waszych komenatrzy i ocen. </p>
            <p> Wspólnie spróbujmy poprawić jakośc leczenia psychiatrycznego w Polsce.</p>
        </mat-card-content>
    </mat-card>

    <mat-card class="card">
        <mat-card-header>
          <mat-card-title class=""><b>Kontakt</b></mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <b> Email:</b> <p> gardenia1613@gmail.com</p>
        </mat-card-content>
    </mat-card>

</div>
