/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@font-face {
    font-family: Roboto;
    src: url('../src/assets/Roboto/Roboto-Regular.ttf');
}
body {
    background-color: #535454;
    font-family: Roboto;
    margin: 0px;
}

.psychebase-button {
    background-color: #007B4F;
    color: white;
    height: 37px;
    width: 150px;
    padding: 10px;
    
}