h1 {
    text-align: center;
    color: #007B4F;
}

ul li {
    list-style-type: none;
}

.card {
    width: 90%;
    margin: 20px auto;
    padding: 50px;
}

.mat-card-actions {
    background-color: red;
}

.actions {
    margin: 0 auto;
}

.psychebase-button {
    width: 150px;
    margin: 0px 20px;   
}

