
<h1> Lista wszystkich szpitali psychiatrycznych w Polsce</h1>
<ul>
  <app-searching-bar></app-searching-bar>
  <li *ngFor="let hospital of hospitals">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title class=""><b>{{hospital.name}}</b></mat-card-title>
        <mat-card-subtitle>{{hospital.address}}, {{hospital.city}}</mat-card-subtitle>
        <mat-card-subtitle>{{hospital.voivodeship}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        {{hospital.description}}
      </mat-card-content>
      <mat-card-actions class="actions">
        <div class="psychebase-button" [routerLink]="['/update', hospital.name]">Dodaj oddział</div>
        <div class="psychebase-button" [routerLink]="['/show', hospital.name]">Odwiedź i oceń</div>
      </mat-card-actions>
    </mat-card>
   
  </li>
</ul>