h1 {
    text-align: center;
    color: white;
}

ul li {
    list-style-type: none;
}

.card {
    width: 50%;
    margin: 20px auto;
    padding: 50px;
}

.mat-card-actions {
    background-color: red;
}

.actions {
    margin: 0 auto;
}

